extends layout

block content
  h1= title
  p Welcome to the Jacket pug
  div(class="container-fluid")
        div(class="row")
            -
                let Jacket = [
                    {
                        "brand": "Levis",
                        "material": "cotton",
                        "cost": "35$"
                    },
                    {
                        "brand": "Hollister",
                        "material": "Wool",
                        "cost": "45$"
                    },
                    {
                        "brand": "Denim",
                        "material": "Nylon",
                        "cost": "55$"
                    },                   
                ]
            each v,index in Jacket
                div(class="col-sm-2" onclick=`buy(${index})`) #{v.brand}
                div(class="col-sm-2" onclick=`buy(${index})`) #{v.material}
                div(class="col-sm-2" onclick=`buy(${index})`) #{v.cost}